/*................................................
    HEADER SECTION
.................................................*/
.container {
    color: #000;
    background-color: #F7F7F7;
    align-items: center;
    padding: 10px 20px;
}

.flex-box {
    display: flex;
    justify-content: space-between;
}

.sec-right {
    align-items: center;
    padding: 20px 50px;
    background-color: #FF5E00 ;
    border-radius: 8px;
   
}

.sec-left {
  width: 80px;
}

h1 {
  margin-left: 10px;
  font-size: 25px;
    line-height: 1;
}
#logout-btn {
    padding: 10px;
    background-color: #ffffff;
    color: #FF5E00;
    margin-left: 20px;
    border-radius: 5px;
}

.name-display {
    margin-right: 20px;
    color: #ffffff;
    font-size: 16px;
}

/*................................................
    MAIN SECTION
.................................................*/
main {
    background-color: #E5E5E5;
    padding: 10px 30px 10px 30px; 
}

#newBtn {
    color: #ffffff;
    background-color: #FF5E00;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
}
#menu {
    margin-left: 25%;
    justify-content: left;
    margin-bottom: 0;
}

#active {
  background-color:  #FF5E00 ;
  color: #ffffff;
}

.menu-bar li a {
    color: #7A7A7B;
    padding: 15px 20px 15px 20px;
    background-color: #ffffff;
    border-radius: 15px 15px 0 0;
}

.menu-bar li a:hover {
  background-color:  #FF5E00 ;
  color: #ffffff;
}

.editBtn {
    color: #7A7A7B;
    background-color: #ffffff;
    border-radius: 15px 15px 0 0;
    padding: 15px 20px 15px 20px;
    margin-top: -8px;
}

.editBtn:hover {
  background-color:  #FF5E00 ;
  color: #ffffff;
}

.project-bar {
    padding: 25px 0 25px 10px;
    background-color: #CDD0D6;
    height: 500px;
    width: 25%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.current:hover {
  background-color: black;
  color: #ffffff;
}


.project-list li {
    padding: 10px 50px 10px 50px;
    align-items: flex-start;
    width: 360px;
    margin: 10px 0 0 0;
    border-radius: 15px 0 0 15px;
    background-color: #ffffff;
    margin-bottom: 30px;
    justify-content: space-between;  
}

.project-list li:hover {
  cursor: pointer;
}

.project-list li:hover {
  background-color: #FF5E00;
  color: #ffffff
}

h4 {
  margin-left: 10px;
  text-transform: uppercase;
}

.project-list li a {
    text-align: left;
    color: #7A7A7B ;
}

.project-details {
    background-color: #ffffff;
    width: 75%;
}

#content {
    justify-content: flex-start;
}
h2 {
    font-size: 16px;
    color:  #7A7A7B;
    text-transform: uppercase;
    margin: 30px 10px 15px 20px;
    font-weight: bold;
}

#pName {
  margin-left: 18px;
  font-size: 18px;
}

.project-inner {
    border: 1px solid #CDD0D6 ;
    margin: 10px 15px;
    border-radius: 5px;
    padding: 20px 20px;
}

.currentProject {
   margin-bottom: 50px;
   margin-left: 20px;
   padding: 50px 0;
}

.left-sec {
  margin-bottom: 30px;
  
}

.project-tech {
  border: 1px solid #CDD0D6 ;
  margin: 25px 15px;
  border-radius: 5px;
  padding: 10px;
  padding-left: 40px;
}

.project-tech input[type = "text"] {
  border: none;
}

.project-description {
  border: 1px solid #CDD0D6 ;
  margin: 35px 15px;
  border-radius: 5px;
  padding: 10px;
  padding-left: 40px;
}

.project-description input[type = "text"] {
  border: none;
  padding-bottom: 83px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.progress {
  position: absolute;   
  height: 160px;
  width: 160px;
  cursor: pointer;
  top: 45%;
  left: 80%;
  margin: -80px 0 0 -80px;
}

.progress-circle {
transform: rotate(-90deg);
margin-top: -30px;
}

.progress-circle-back {
fill: none; 
stroke: #D2D2D2;
stroke-width:10px;
}

.progress-circle-prog {
fill: none; 
stroke:  #FF5E00;
stroke-width: 10px;  
stroke-dasharray: 0 999;    
stroke-dashoffset: 0px;
  transition: stroke-dasharray 0.7s linear 0s;
}

.progress-text {
width: 100%;
position: absolute;
top: 60px;
text-align: center;
font-size: 2em;
}

/*................................................
    NEW PROJECT MODAL
.................................................*/

#forms-modal {
  display: none;
  z-index: 1;
  top: 10px;
  bottom: 10px;
  position: fixed; 
  width: 100%; 
  height: 100%;
  overflow: auto;  
  align-items: center;
  backdrop-filter: blur(2px);
}

/* Modal Content */
.modal-content {
  
  margin: auto;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(1, 18, 72, 0.2), 0 6px 20px 0 rgba(1, 18, 72, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {top:-70px; opacity:0} 
  to {top:0; opacity:1}
}
@keyframes animatetop {
  from {top:-70px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header * {
  text-transform: uppercase;
  color: black;
  background-color: #CDD0D6;
  text-align: center;
}

#project-form-title {
  padding-top: 15px;
}

.modal-body { 
  padding: 20px 20px 20px 20px; 
  background-color: #CDD0D6;
  color: #000;
  height: 650px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.form-feild {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
 
.form-input {
  padding: 8px 12px;
  width: 100%;
}

.pro-btn {
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}

.cancel-project {
  padding: 15px 40px;
}

.add-project {
  padding: 15px 40px;
  color: #ffffff;
  background-color:  #FF5E00;
}

.edit-project {
  padding: 15px 30px;
  color: #ffffff;
  background-color:  #FF5E00 ;
}

.error-msg {
  color: #ff0000;
}
/*................................................
    FOOTER SECTION
.................................................*/
.footer {
    background-color:#FF5E00;
    color: #ffffff;
    align-items: center;
    padding: 30px;
    text-align: center;
}